.game {
    height: 72vh;
    background: green;
    font-size: 1.5rem;
    color: #282c34;
}
.game .modal {
    height: 60vh;
    top: 6vh;
}
.game .modal h3{
    text-align: center;
    line-height: 52px;
    margin-bottom: 2px;
}
.game .modal li{
    list-style-type: none;
}
.game .modal button{
    border-radius: 9px;
    padding: 3px 30px;
}
.game .modal ul{
    padding: 0;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
}
.card{
    margin: 5px;
    text-align: center;
    height: 60px;
    width: 40px;
    border: 2px solid black;
    padding: 5px;
    background: linear-gradient(white, #e19df7);
    font-size: 1.52rem;
    color: black;
}
.playerSpace {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 21vh;
    width: 27vw;
    background: #282c34;
    position: absolute;
    border: 0.5vw solid black;
    color: white;
    text-align: center;
}
.playerSpace .cards{
    display: flex;
    justify-content: center;
    padding-top: 3vh;
}
.playerSpace .red{
   color: red;
}
.playerSpace .role{
    position: relative;
    bottom: 19vh;
    left: 1vw;
    width: 30px;
    border: 2px solid yellow;
    border-radius: 30px;
    font-size: 1rem;
    text-align: center;
}
.playerSpace .noRole {
    padding-top: 22px;
}
.playerSpace.folded {
    opacity: 50%;
}
.playerSpace .hidden{
    background: linear-gradient(#1dd4ff, #ffe500);
}
.playerSpace.folded .hidden{
    background: black;
}
.player1 {
    left: 36vw;
    top: 46vh;
}
.player2 {
    top: 23vh;
    left: 1vw;
}
.player3 {
    left: 36vw;
    top: 1vh;
}
.player4 {
    right: 1vw;
    top: 23vh;
}
#playerControls {
    left: 66vw;
    top: 57vh;
    position: absolute;
    display: flex;
}
#playerControls .control {
    height: calc( 10vh - 4px );
    width: calc( 10vw - 4px );
    background: black;
    border: 2px solid yellow;
    color: white;
    margin: 0 3px;
    text-align: center;
}
#playerControls div:hover {
    background: #2f048d;
}
#playerControls.grayedOut div {
    background: #684545;
    border: none;
    height: 10vh;
    width: 10vw;
}
#tableCards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 18vh;
    width: 31vw;
    background: #32432a;
    position: absolute;
    border: 0.5vw solid #595959;
    color: white;
    text-align: center;
    left: 34vw;
    top: 25vh;
}    

@media screen and (max-width: 480px) {
    .game .modal h3 {
        font-size: 1rem;
        line-height: 31px;
    }
}