.game {
    height: 72vh;
    background: green;
    font-size: 1.5rem;
    color: #282c34;
}
.game .modal {
    height: 60vh;
    top: 6vh;
}
.game .modal h3{
    text-align: center;
    line-height: 52px;
    margin-bottom: 2px;
}
.game .modal li{
    list-style-type: none;
}
.game .modal button{
    border-radius: 9px;
    padding: 3px 30px;
}
.game .modal ul{
    padding: 0;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
}
.card{
    margin: 5px;
    text-align: center;
    height: 60px;
    width: 40px;
    border: 2px solid black;
    padding: 5px;
    background: linear-gradient(white, #e19df7);
    font-size: 1.52rem;
    color: black;
}
.playerSpace {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 24vh;
    width: 28vw;
    background: #282c34;
    position: absolute;
    color: white;
    text-align: center;
}
.playerSpace .cards{
    display: flex;
    justify-content: center;
}
.playerSpace .red{
   color: red;
}
.playerSpace .hidden{
    background: linear-gradient(#1dd4ff, #ffe500);
}
.player1 {
    left: 30vw;
    top: 46vh;
    width: 40vw;
}
.player2 {
    top: 21vh;
    left: 1vw;
}
.player3 {
    left: 36vw;
    top: 1vh;
}
.player4 {
    right: 1vw;
    top: 21vh;
}
@media screen and (max-width: 480px) {
    .game .modal h3 {
        font-size: 1rem;
        line-height: 31px;
    }
}