.game {
    height: 72vh;
    background: green;
    font-size: 1.5rem;
    color: #282c34;
}
.game .modal {
    height: 60vh;
    top: 6vh;
}
.game .modal h3{
    text-align: center;
    line-height: 52px;
    margin-bottom: 2px;
}
.game .modal li{
    list-style-type: none;
}
.game .modal button{
    border-radius: 9px;
    padding: 3px 30px;
}
.game .modal ul{
    padding: 0;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
    .game .modal h3 {
        font-size: 1rem;
        line-height: 31px;
    }
}